/*Variabler*/

$background: #000000;
$brandcolor: #FF701E;
$boxcolor: #003125;
$fontcolor: #CCFFB4;


 
@mixin heading {
    font-family: "Battambang", system-ui;
    font-weight: 400;
    font-style: normal;
    color: $fontcolor;
  }

  @mixin cta {
    font-size: 20px;
    color: $background;
    background-color: $brandcolor;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  @mixin article{
    background-color: $boxcolor;
    border-radius: 2rem;
    width: 350px;
  }