@use 'partial';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 70px;
    background-color: partial.$background;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    background-color: transparent;
    z-index: 1;
}
header {
    i {
        font-size: 2.5em;
        color: partial.$brandcolor;
        cursor: pointer;
     }
}

header {
    nav {
        display: none;
    }
}
ul {
    list-style-type: none;
    padding: 0;
}

/* Main */

.heroimg{
width: 100%;
height: 85vh;
object-fit: cover;
margin-top: -15vh;
}

.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.herocontent{
    margin-top: -15vh;
    height: 40vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contentcontainer{
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
}

.maincontent{
   grid-column-start: 2;
   grid-column-end: 3;
}

h1{
text-align: center;
@include partial.heading;
font-size: 2.5rem;
}

p{
    color: partial.$fontcolor;
    font-family: bellota text;
    line-height: 1.5;
}

a{
    @include partial.heading;
}

h2{
    @include partial.heading;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3{
    @include partial.heading;
    font-size: 1.8rem;
}

h4{
    color: partial.$fontcolor;
    font-family: bellota text;
}

h5{
    @include partial.heading;
    margin: 2rem;
    font-size: 1.5rem;
    color: partial.$brandcolor;
    display: flex;
    justify-content: center;
}

h6{
    @include partial.heading;
    font-size: 1rem;
}

.CTA{
    @include partial.cta;

}

.articlecontainer{
    @include partial.article;
    padding-top: 0.01rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article{
    margin: 2rem;
}
article a{
    @include partial.cta;
    cursor: pointer;
}

.linkcontainer{
    display: flex;
    justify-content: flex-end;
}

/* .scrollx */
.scrollx {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    overflow-x: scroll;
    max-width: 100vw;
}
.scrollx div {
    width: 275px;
    height: 400px;
    border-radius: 2rem;
    background: partial.$boxcolor;
    cursor: pointer;
}

.scrollimg{
    width: 275px;
    height: 225px;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.eventlink{
    
    margin: 1rem 2rem 2rem;
}

.scrolltext{
    margin: 1rem;
}

.eventsektion{
    display: grid;
   grid-template-columns: 1rem 1fr 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.eventheading{
    margin-left: 1rem;
}

/* 5 raad */

.raadimg{
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: -3rem;
}

.number{
    color: partial.$brandcolor;
    font-family: battambang;
    font-size: 10rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: -2rem;
}

.articlehead{
    display: flex;
}

/*Begivenheder*/

.eventimg{
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    height: 250px;
    object-fit: cover;
}

.date{
    color: partial.$brandcolor;
    font-family: battambang;
    font-size: 3rem;
    margin-right: 1rem;
   
    margin-top: -2rem;
}

/* Footer */

footer{
    background-color: partial.$boxcolor;
}

.footercontent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        grid-template-rows: 1fr 1fr;
        background-color: partial.$boxcolor;
    }


.footerlogo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 150px;
    
}

.footernav{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.kontakt{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media only screen and (min-width: 730px) {
    .fa-bars {
        display: none;
    }
    header nav {
        display: block;
    }
    header ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 40px;
    }

/*main*/

.introcontainer{
    display: flex;
    justify-content: center;
}
.intro{
    width: 500px;
}

.contentcontainer{
    display: grid;
    grid-template-columns: 1fr 720px 1fr;
}

.features{
    display: flex;
    justify-content: space-between;
}

/*Begivenheder*/

.eventimg{
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    height: 450px;
    object-fit: cover;
}

/*Footer*/

footer{
    background-color: partial.$boxcolor;
}

.footercontent{
    display: grid;
    grid-template-columns: 1fr 200px 200px 200px 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 2rem;
    background-color: partial.$boxcolor;
}


.footerlogo{
grid-column-start: 3;
grid-column-end: 4;
width: 150px;

}

.footernav{
grid-column-start: 4;
grid-column-end: 5;
}

.kontakt{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
}
}